In [1]:
import numpy as np
import pandas as pd
import pprint as pp
import matplotlib.pyplot as plt

In [3]:
data_num =pd.read_csv('2018q4_notes/num.tsv', sep='\t', encoding='ISO-8859-1')

/home/joep/.pyenv/versions/3.8.12/envs/lewagon/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3457: DtypeWarning: Columns (12) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [4]:
data_num.head()

,adsh,tag,version,ddate,qtrs,uom,dimh,iprx,value,footnote,footlen,dimn,coreg,durp,datp,dcml
0,0001340122-18-000158,DerivativeNonmonetaryNotionalAmount,invest/2013,20171231,0,bbl,0x057d58d147c5c549be63479f110b83c6,0,826000.0,NaN,0,3,NaN,0.0,0.0,0
1,0001340122-18-000158,DerivativeNonmonetaryNotionalAmount,invest/2013,20180930,0,bbl,0x2f343219a29139cfd52e4b992bb33b97,0,92000.0,NaN,0,4,NaN,0.0,0.0,0
2,0001340122-18-000158,DerivativeNonmonetaryNotionalAmount,invest/2013,20180930,0,bbl,0x502eb4336d0a930cc3e99dad0464d7b5,0,92000.0,NaN,0,4,NaN,0.0,0.0,0
3,0001340122-18-000158,DerivativeNonmonetaryNotionalAmount,invest/2013,20180930,0,bbl,0x59eaa29daeed99538f426eb6e86d8849,0,90000.0,NaN,0,4,NaN,0.0,0.0,0
4,0001340122-18-000158,DerivativeNonmonetaryNotionalAmount,invest/2013,20180930,0,bbl,0x8f1a2e1485a8dd724aa7bc1cb5cc9f81,0,1825000.0,NaN,0,3,NaN,0.0,0.0,0

In [7]:
data_num.dtypes

adsh         object
tag          object
version      object
ddate         int64
qtrs          int64
uom          object
dimh         object
iprx          int64
value       float64
footnote     object
footlen       int64
dimn          int64
coreg        object
durp        float64
datp        float64
dcml          int64
dtype: object

In [2]:
data_sub =pd.read_csv('2018q4_notes/sub.tsv', sep='\t', encoding='ISO-8859-1')

In [3]:
data_sub[data_sub['form']=='10-K']

,adsh,cik,name,sic,countryba,stprba,cityba,zipba,bas1,bas2,...,accepted,prevrpt,detail,instance,nciks,aciks,pubfloatusd,floatdate,floataxis,floatmems
1,0000029644-18-000024,29644,DONALDSON CO INC,3564.0,US,MN,MINNEAPOLIS,55431,1400 W. 94TH ST.,NaN,...,2018-10-01 16:17:00.0,0,1,dci-20180731.xml,1,NaN,6.563204e+09,20180131.0,NaN,NaN
2,0000900075-18-000048,900075,COPART INC,5500.0,US,TX,DALLAS,75254,14185 DALLAS PARKWAY,SUITE 300,...,2018-10-01 16:48:00.0,0,1,cprt-20180731.xml,1,NaN,8.903623e+09,20180131.0,NaN,NaN
3,0001062993-18-003905,1424404,WOLVERINE TECHNOLOGIES CORP.,1000.0,CA,BC,RICHMOND,V7A 1X8,"UNIT #55, 11020 WILLIAMS ROAD",NaN,...,2018-09-28 18:36:00.0,0,1,wolv-20180531.xml,1,NaN,8.079970e+05,20171130.0,NaN,NaN
10,0001564590-18-023790,1028215,KMG CHEMICALS INC,2800.0,US,TX,FORT WORTH,76102,300 THROCKMORTON STREET,NaN,...,2018-10-01 17:31:00.0,0,1,kmg-20180731.xml,1,NaN,8.777000e+08,20180131.0,NaN,NaN
11,0001607062-18-000308,1126115,"LZG INTERNATIONAL, INC.",6770.0,US,UT,SALT LAKE CITY,84115,153 WEST BURTON AVENUE,NaN,...,2018-10-01 12:41:00.0,0,1,lzgi-20180531.xml,1,NaN,0.000000e+00,20180928.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6410,0001493152-18-018121,935419,"RCI HOSPITALITY HOLDINGS, INC.",5812.0,US,TX,HOUSTON,77066,10737 CUTTEN ROAD,NaN,...,2018-12-31 16:16:00.0,0,1,rick-20180930.xml,1,NaN,2.549870e+08,20180331.0,NaN,NaN
6411,0001493152-18-018134,1730773,BLUE STAR FOODS CORP.,2092.0,US,FL,WEST PALM BEACH,33401,3330 CLEMATIS STREET,SUITE 217,...,2018-12-31 16:50:00.0,0,1,aagi-20181031.xml,1,NaN,0.000000e+00,20180531.0,NaN,NaN
6413,0001493152-18-018144,1022505,CIPHERLOC CORP,7374.0,US,TX,BUDA,78610,825 MAIN STREET,SUITE 100,...,2018-12-31 17:31:00.0,0,1,clok-20180930.xml,1,NaN,3.105809e+07,20181227.0,NaN,NaN
6416,0001564590-18-031528,1325740,"ADVANCED BIOENERGY, LLC",2860.0,US,MN,BLOOMINGTON,55437,"8000 NORMAN CENTER DR, STE 610",NaN,...,2018-12-31 15:19:00.0,0,1,ck0001325740-20180930.xml,1,NaN,0.000000e+00,20180930.0,NaN,NaN
6417,0001580695-18-000585,1341726,"GULFSLOPE ENERGY, INC.",1311.0,US,TX,HOUSTON,77010,"1331 LAMAR ST., SUITE 1665",NaN,...,2018-12-31 16:37:00.0,0,1,gspe-20180930.xml,1,NaN,2.688925e+07,20180331.0,NaN,NaN

In [8]:
data_sub[data_sub['adsh'] == '0001340122-18-000158']

,adsh,cik,name,sic,countryba,stprba,cityba,zipba,bas1,bas2,...,accepted,prevrpt,detail,instance,nciks,aciks,pubfloatusd,floatdate,floataxis,floatmems
3759,0001340122-18-000158,1340122,"CALUMET SPECIALTY PRODUCTS PARTNERS, L.P.",2911.0,US,IN,INDIANAPOLIS,46214,2780 WATERFRONT,"PARKWAY E. DRIVE, SUITE 200",...,2018-11-09 15:15:00.0,0,1,clmt-20180930.xml,1,NaN,NaN,NaN,NaN,NaN

In [9]:
data_num[data_num['adsh'] == '0001340122-18-000158']

,adsh,tag,version,ddate,qtrs,uom,dimh,iprx,value,footnote,footlen,dimn,coreg,durp,datp,dcml
0,0001340122-18-000158,DerivativeNonmonetaryNotionalAmount,invest/2013,20171231,0,bbl,0x057d58d147c5c549be63479f110b83c6,0,826000.0,NaN,0,3,NaN,0.000000,0.0,0
1,0001340122-18-000158,DerivativeNonmonetaryNotionalAmount,invest/2013,20180930,0,bbl,0x2f343219a29139cfd52e4b992bb33b97,0,92000.0,NaN,0,4,NaN,0.000000,0.0,0
2,0001340122-18-000158,DerivativeNonmonetaryNotionalAmount,invest/2013,20180930,0,bbl,0x502eb4336d0a930cc3e99dad0464d7b5,0,92000.0,NaN,0,4,NaN,0.000000,0.0,0
3,0001340122-18-000158,DerivativeNonmonetaryNotionalAmount,invest/2013,20180930,0,bbl,0x59eaa29daeed99538f426eb6e86d8849,0,90000.0,NaN,0,4,NaN,0.000000,0.0,0
4,0001340122-18-000158,DerivativeNonmonetaryNotionalAmount,invest/2013,20180930,0,bbl,0x8f1a2e1485a8dd724aa7bc1cb5cc9f81,0,1825000.0,NaN,0,3,NaN,0.000000,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3614645,0001340122-18-000158,Realizedgainlossonderivativesnotreflectedinnet...,0001340122-18-000158,20180930,3,USD,0xbfd0dd93f62ff6ee28516ec97bbfd292,0,-2800000.0,NaN,0,2,NaN,0.019179,0.0,-5
3614646,0001340122-18-000158,RINsObligation,0001340122-18-000158,20171231,0,USD,0x00000000,0,59100000.0,NaN,0,0,NaN,0.000000,0.0,-5
3614647,0001340122-18-000158,RINsObligation,0001340122-18-000158,20180930,0,USD,0x00000000,0,7700000.0,NaN,0,0,NaN,0.000000,0.0,-5
3614648,0001340122-18-000158,TexStarCapitalLeaseObligation,0001340122-18-000158,20180930,0,USD,0x00000000,0,38000000.0,NaN,0,0,NaN,0.000000,0.0,-5
3614649,0001340122-18-000158,TexStarCapitalLeaseObligationShortTerm,0001340122-18-000158,20180930,0,USD,0x00000000,0,500000.0,NaN,0,0,NaN,0.000000,0.0,-5

In [11]:
data_tag =pd.read_csv('2018q4_notes/tag.tsv', sep='\t', encoding='ISO-8859-1')

In [21]:
'10-k' in data_tag['tag'].values

False

In [22]:
data_sub =pd.read_csv('2018q4_notes/sub.tsv', sep='\t', encoding='ISO-8859-1')

In [23]:
data_sub.head()

,adsh,cik,name,sic,countryba,stprba,cityba,zipba,bas1,bas2,...,accepted,prevrpt,detail,instance,nciks,aciks,pubfloatusd,floatdate,floataxis,floatmems
0,0000016160-18-000096,16160,CAL-MAINE FOODS INC,200.0,US,MS,JACKSON,39209,3320 WOODROW WILSON DRIVE,NaN,...,2018-10-01 09:22:00.0,0,1,calm-20180901.xml,1,NaN,NaN,NaN,NaN,NaN
1,0000029644-18-000024,29644,DONALDSON CO INC,3564.0,US,MN,MINNEAPOLIS,55431,1400 W. 94TH ST.,NaN,...,2018-10-01 16:17:00.0,0,1,dci-20180731.xml,1,NaN,6.563204e+09,20180131.0,NaN,NaN
2,0000900075-18-000048,900075,COPART INC,5500.0,US,TX,DALLAS,75254,14185 DALLAS PARKWAY,SUITE 300,...,2018-10-01 16:48:00.0,0,1,cprt-20180731.xml,1,NaN,8.903623e+09,20180131.0,NaN,NaN
3,0001062993-18-003905,1424404,WOLVERINE TECHNOLOGIES CORP.,1000.0,CA,BC,RICHMOND,V7A 1X8,"UNIT #55, 11020 WILLIAMS ROAD",NaN,...,2018-09-28 18:36:00.0,0,1,wolv-20180531.xml,1,NaN,8.079970e+05,20171130.0,NaN,NaN
4,0001193125-18-288616,1709626,NUCANA PLC,2834.0,GB,NaN,EDINBURGH,EH12 9DT,3 LOCHSIDE WAY,NaN,...,2018-10-01 08:20:00.0,0,1,ncna-20180630.xml,1,NaN,NaN,NaN,NaN,NaN

In [34]:
# data_sub[data_sub['form']=='10-K'].sample()
data_sub.iloc[5741]

adsh                 0001564590-18-030224
cik                               1351288
name               GW PHARMACEUTICALS PLC
sic                                2834.0
countryba                              GB
stprba                                NaN
cityba         HISTON, CAMBRIDGE CB24 9BZ
zipba                               00000
bas1                      SOVEREIGN HOUSE
bas2                          VISION PARK
baph                       44 1223 266800
countryma                              GB
stprma                                NaN
cityma         HISTON, CAMBRIDGE CB24 9BZ
zipma                               00000
mas1                      SOVEREIGN HOUSE
mas2                          VISION PARK
countryinc                            NaN
stprinc                               NaN
ein                                   0.0
former                                NaN
changed                               NaN
afs                                 1-LAF
wksi                                    1
fye                                 930.0
form                                 10-K
period                           20180930
fy                                 2018.0
fp                                     FY
filed                            20181129
accepted            2018-11-28 20:58:00.0
prevrpt                                 0
detail                                  1
instance                gwph-20180930.xml
nciks                                   1
aciks                                 NaN
pubfloatusd                  3083000064.0
floatdate                      20180331.0
floataxis                             NaN
floatmems                             NaN
Name: 5741, dtype: object

In [45]:
len(set(data_sub['cik']))

5921

In [46]:
len(data_sub['cik'])

6421

In [48]:
data_sub[data_sub['cik'].duplicated()]

,adsh,cik,name,sic,countryba,stprba,cityba,zipba,bas1,bas2,...,accepted,prevrpt,detail,instance,nciks,aciks,pubfloatusd,floatdate,floataxis,floatmems
26,0001144204-18-052360,1556179,"RMR INDUSTRIALS, INC.",7380.0,US,CA,BEVERLY HILLS,90210,9301 WILSHIRE BLVD.,SUITE 312,...,2018-10-03 17:13:00.0,0,1,rmri-20170930.xml,1,NaN,NaN,NaN,NaN,NaN
27,0001144204-18-052361,1556179,"RMR INDUSTRIALS, INC.",7380.0,US,CA,BEVERLY HILLS,90210,9301 WILSHIRE BLVD.,SUITE 312,...,2018-10-03 17:14:00.0,0,1,rmri-20171231.xml,1,NaN,NaN,NaN,NaN,NaN
28,0001144204-18-052363,1556179,"RMR INDUSTRIALS, INC.",7380.0,US,CA,BEVERLY HILLS,90210,9301 WILSHIRE BLVD.,SUITE 312,...,2018-10-03 17:17:00.0,0,1,rmri-20180331.xml,1,NaN,0.0,20170930.0,NaN,NaN
50,0001017386-18-000261,1502555,GOLDEN GLOBAL CORP.,1040.0,US,FL,BOCA RATON,33433,21573 SAN GERMAIN AVENUE,NaN,...,2018-10-05 16:03:00.0,0,1,gldg-20161231.xml,1,NaN,NaN,NaN,NaN,NaN
52,0001127855-18-000210,1400683,"STWC. HOLDINGS, INC.",8742.0,US,CO,LAKEWOOD,80215,1350 INDEPENDENCE ST.,SUITE 300,...,2018-10-05 16:50:00.0,0,1,stwc-20161031.xml,1,NaN,0.0,20160731.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6412,0001493152-18-018142,1627611,12 RETECH CORP,7371.0,US,NV,LAS VEGAS,89135,"10785 W. TWAIN AVE.,",SUITE 210,...,2018-12-31 17:18:00.0,0,1,retc-20180630.xml,1,NaN,NaN,NaN,NaN,NaN
6414,0001511164-18-000680,1497251,EZY CLOUD HOLDING INC.,7389.0,SG,NaN,CECIL COURT,069538,138 CECIL STREET #09-02,NaN,...,2018-12-31 10:45:00.0,0,1,ezcl-20180930.xml,1,NaN,NaN,NaN,NaN,NaN
6415,0001549727-18-000045,1602813,FRONTERA GROUP INC.,8742.0,US,NV,CARSON CITY,89701,"701 S CARSON STREET, SUITE 200",NaN,...,2018-12-31 08:45:00.0,0,1,frtg-20180930.xml,1,NaN,NaN,NaN,NaN,NaN
6418,0001600626-18-000089,1600626,"GRIFFIN CAPITAL ESSENTIAL ASSET REIT II, INC.",6798.0,NaN,NaN,NaN,NaN,NaN,NaN,...,2018-12-31 12:15:00.0,1,1,gcnl-20180831.xml,1,NaN,NaN,NaN,NaN,NaN
6420,0001640334-18-002426,1666178,LAZURITON NANO BIOTECHNOLOGY (U.S.A.) INC.,5190.0,TW,NaN,TAOYUAN CITY,333,"10F., NO.341, SEC.2, WANSHOU RD.",GUISHAN DIST.,...,2018-12-31 06:36:00.0,0,1,lnbi-20180930.xml,1,NaN,NaN,NaN,NaN,NaN

In [50]:
#So while a single company might have multiple submissions in one data set, the adsh will be different
data_sub[data_sub['cik'].duplicated()]

,adsh,cik,name,sic,countryba,stprba,cityba,zipba,bas1,bas2,...,accepted,prevrpt,detail,instance,nciks,aciks,pubfloatusd,floatdate,floataxis,floatmems
26,0001144204-18-052360,1556179,"RMR INDUSTRIALS, INC.",7380.0,US,CA,BEVERLY HILLS,90210,9301 WILSHIRE BLVD.,SUITE 312,...,2018-10-03 17:13:00.0,0,1,rmri-20170930.xml,1,NaN,NaN,NaN,NaN,NaN
27,0001144204-18-052361,1556179,"RMR INDUSTRIALS, INC.",7380.0,US,CA,BEVERLY HILLS,90210,9301 WILSHIRE BLVD.,SUITE 312,...,2018-10-03 17:14:00.0,0,1,rmri-20171231.xml,1,NaN,NaN,NaN,NaN,NaN
28,0001144204-18-052363,1556179,"RMR INDUSTRIALS, INC.",7380.0,US,CA,BEVERLY HILLS,90210,9301 WILSHIRE BLVD.,SUITE 312,...,2018-10-03 17:17:00.0,0,1,rmri-20180331.xml,1,NaN,0.0,20170930.0,NaN,NaN
50,0001017386-18-000261,1502555,GOLDEN GLOBAL CORP.,1040.0,US,FL,BOCA RATON,33433,21573 SAN GERMAIN AVENUE,NaN,...,2018-10-05 16:03:00.0,0,1,gldg-20161231.xml,1,NaN,NaN,NaN,NaN,NaN
52,0001127855-18-000210,1400683,"STWC. HOLDINGS, INC.",8742.0,US,CO,LAKEWOOD,80215,1350 INDEPENDENCE ST.,SUITE 300,...,2018-10-05 16:50:00.0,0,1,stwc-20161031.xml,1,NaN,0.0,20160731.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6412,0001493152-18-018142,1627611,12 RETECH CORP,7371.0,US,NV,LAS VEGAS,89135,"10785 W. TWAIN AVE.,",SUITE 210,...,2018-12-31 17:18:00.0,0,1,retc-20180630.xml,1,NaN,NaN,NaN,NaN,NaN
6414,0001511164-18-000680,1497251,EZY CLOUD HOLDING INC.,7389.0,SG,NaN,CECIL COURT,069538,138 CECIL STREET #09-02,NaN,...,2018-12-31 10:45:00.0,0,1,ezcl-20180930.xml,1,NaN,NaN,NaN,NaN,NaN
6415,0001549727-18-000045,1602813,FRONTERA GROUP INC.,8742.0,US,NV,CARSON CITY,89701,"701 S CARSON STREET, SUITE 200",NaN,...,2018-12-31 08:45:00.0,0,1,frtg-20180930.xml,1,NaN,NaN,NaN,NaN,NaN
6418,0001600626-18-000089,1600626,"GRIFFIN CAPITAL ESSENTIAL ASSET REIT II, INC.",6798.0,NaN,NaN,NaN,NaN,NaN,NaN,...,2018-12-31 12:15:00.0,1,1,gcnl-20180831.xml,1,NaN,NaN,NaN,NaN,NaN
6420,0001640334-18-002426,1666178,LAZURITON NANO BIOTECHNOLOGY (U.S.A.) INC.,5190.0,TW,NaN,TAOYUAN CITY,333,"10F., NO.341, SEC.2, WANSHOU RD.",GUISHAN DIST.,...,2018-12-31 06:36:00.0,0,1,lnbi-20180930.xml,1,NaN,NaN,NaN,NaN,NaN

# checking what's in numericals for a 10-K

In [53]:
gw_pharma_10k = data_num[data_num['adsh']=='0001564590-18-030224']

In [54]:
gw_pharma_10k[['tag','ddate','value']]

,tag,ddate,value
3969784,OperatingLossCarryforwards,20180930,556300000.0
3971457,OtherAccruedLiabilitiesCurrent,20170930,8963000.0
3971458,OtherAccruedLiabilitiesCurrent,20180930,7011000.0
3976503,DeferredFederalIncomeTaxExpenseBenefit,20160930,-2178000.0
3976504,DeferredFederalIncomeTaxExpenseBenefit,20170930,-3685000.0
...,...,...,...
5414049,ShareBasedCompensationArrangementByShareBasedP...,20180930,-2617000.0
5414050,StockIssuedDuringPeriodSharesMarketStrikePrice...,20160930,663000.0
5414051,StockIssuedDuringPeriodSharesMarketStrikePrice...,20170930,108000.0
5414052,StockIssuedDuringPeriodSharesMarketStrikePrice...,20180930,70000.0
5414053,TaxCutsAndJobsActOf2017ChangeInTaxRateProvisio...,20180930,2900000.0

In [58]:
gw_pharma_10k[gw_pharma_10k['tag'] == 'CashAndCashEquivalentsAtCarryingValue'][['adsh','tag','ddate','uom','value']]

,adsh,tag,ddate,uom,value
4592962,0001564590-18-030224,CashAndCashEquivalentsAtCarryingValue,20170930,USD,322154000.0
4592963,0001564590-18-030224,CashAndCashEquivalentsAtCarryingValue,20180930,USD,354913000.0

In [64]:
tags = gw_pharma_10k['tag'].values

In [67]:
asset_tags=[]
for tag in tags:
    if tag.lower().count('asset') > 0:
        asset_tags.append(tag)

In [74]:
asset_tags

['OtherAssetsNoncurrent',
 'OtherAssetsNoncurrent',
 'DeferredTaxAssetsGross',
 'DeferredTaxAssetsGross',
 'DeferredTaxAssetsLiabilitiesNet',
 'DeferredTaxAssetsLiabilitiesNet',
 'DeferredTaxAssetsLiabilitiesNetNoncurrent',
 'DeferredTaxAssetsLiabilitiesNetNoncurrent',
 'DeferredTaxAssetsNet',
 'DeferredTaxAssetsNet',
 'DeferredTaxAssetsOperatingLossCarryforwards',
 'DeferredTaxAssetsOperatingLossCarryforwards',
 'DeferredTaxAssetsOther',
 'DeferredTaxAssetsOther',
 'DeferredTaxAssetsTaxCreditCarryforwardsResearch',
 'DeferredTaxAssetsTaxCreditCarryforwardsResearch',
 'DeferredTaxAssetsTaxDeferredExpenseCompensationAndBenefits',
 'DeferredTaxAssetsTaxDeferredExpenseCompensationAndBenefits',
 'DeferredTaxAssetsTaxDeferredExpenseReservesAndAccrualsAccruedLiabilities',
 'DeferredTaxAssetsTaxDeferredExpenseReservesAndAccrualsAccruedLiabilities',
 'DeferredTaxAssetsValuationAllowance',
 'DeferredTaxAssetsValuationAllowance',
 'IncreaseDecreaseInOtherOperatingAssets',
 'IncreaseDecreaseInPrepaidDeferredExpenseAndOtherAssets',
 'IncreaseDecreaseInPrepaidDeferredExpenseAndOtherAssets',
 'IncreaseDecreaseInPrepaidDeferredExpenseAndOtherAssets',
 'Assets',
 'Assets',
 'AssetsCurrent',
 'AssetsCurrent',
 'PrepaidExpenseAndOtherAssetsCurrent',
 'PrepaidExpenseAndOtherAssetsCurrent',
 'PaymentsToAcquireIntangibleAssets',
 'PaymentsToAcquireIntangibleAssets',
 'PaymentsToAcquireIntangibleAssets',
 'NoncashOrPartNoncashAcquisitionFixedAssetsAcquired1',
 'NoncashOrPartNoncashAcquisitionFixedAssetsAcquired1',
 'NoncashOrPartNoncashAcquisitionFixedAssetsAcquired1',
 'NoncurrentAssets',
 'NoncurrentAssets',
 'NoncurrentAssets',
 'NoncurrentAssets',
 'NoncurrentAssets',
 'NoncurrentAssets',
 'EffectiveIncomeTaxRateReconciliationChangeInDeferredTaxAssetsValuationAllowance',
 'EffectiveIncomeTaxRateReconciliationChangeInDeferredTaxAssetsValuationAllowance',
 'EffectiveIncomeTaxRateReconciliationChangeInDeferredTaxAssetsValuationAllowance']

In [79]:
gw_pharma_10k.loc[gw_pharma_10k['tag'] == 'AssetsCurrent']

,adsh,tag,version,ddate,qtrs,uom,dimh,iprx,value,footnote,footlen,dimn,coreg,durp,datp,dcml
4163378,0001564590-18-030224,AssetsCurrent,us-gaap/2018,20170930,0,USD,0x00000000,0,364582000.0,NaN,0,0,NaN,0.0,0.0,-3
4163379,0001564590-18-030224,AssetsCurrent,us-gaap/2018,20180930,0,USD,0x00000000,0,390711000.0,NaN,0,0,NaN,0.0,0.0,-3

In [76]:
gw_pharma_10k.loc[gw_pharma_10k['tag'].isin(asset_tags)][['adsh','tag','ddate','uom','value']]

,adsh,tag,ddate,uom,value
3979597,0001564590-18-030224,OtherAssetsNoncurrent,20170930,USD,1.401000e+06
3979598,0001564590-18-030224,OtherAssetsNoncurrent,20180930,USD,3.150000e+06
3996549,0001564590-18-030224,DeferredTaxAssetsGross,20170930,USD,5.636700e+07
3996550,0001564590-18-030224,DeferredTaxAssetsGross,20180930,USD,1.061060e+08
3997409,0001564590-18-030224,DeferredTaxAssetsLiabilitiesNet,20170930,USD,6.805000e+06
3997410,0001564590-18-030224,DeferredTaxAssetsLiabilitiesNet,20180930,USD,7.334000e+06
3997841,0001564590-18-030224,DeferredTaxAssetsLiabilitiesNetNoncurrent,20170930,USD,6.805000e+06
3997842,0001564590-18-030224,DeferredTaxAssetsLiabilitiesNetNoncurrent,20180930,USD,7.334000e+06
3998436,0001564590-18-030224,DeferredTaxAssetsNet,20170930,USD,1.024100e+07
3998437,0001564590-18-030224,DeferredTaxAssetsNet,20180930,USD,8.644000e+06
3999357,0001564590-18-030224,DeferredTaxAssetsOperatingLossCarryforwards,20170930,USD,4.637900e+07
3999358,0001564590-18-030224,DeferredTaxAssetsOperatingLossCarryforwards,20180930,USD,9.457000e+07
4000149,0001564590-18-030224,DeferredTaxAssetsOther,20170930,USD,1.990000e+05
4000150,0001564590-18-030224,DeferredTaxAssetsOther,20180930,USD,2.910000e+05
4011091,0001564590-18-030224,DeferredTaxAssetsTaxCreditCarryforwardsResearch,20170930,USD,5.060000e+05
4011092,0001564590-18-030224,DeferredTaxAssetsTaxCreditCarryforwardsResearch,20180930,USD,1.800000e+05
4011233,0001564590-18-030224,DeferredTaxAssetsTaxDeferredExpenseCompensatio...,20170930,USD,7.496000e+06
4011234,0001564590-18-030224,DeferredTaxAssetsTaxDeferredExpenseCompensatio...,20180930,USD,8.745000e+06
4011862,0001564590-18-030224,DeferredTaxAssetsTaxDeferredExpenseReservesAnd...,20170930,USD,1.787000e+06
4011863,0001564590-18-030224,DeferredTaxAssetsTaxDeferredExpenseReservesAnd...,20180930,USD,2.320000e+06
4012924,0001564590-18-030224,DeferredTaxAssetsValuationAllowance,20170930,USD,4.612600e+07
4012925,0001564590-18-030224,DeferredTaxAssetsValuationAllowance,20180930,USD,9.746200e+07
4107880,0001564590-18-030224,IncreaseDecreaseInOtherOperatingAssets,20180930,USD,5.640000e+05
4125586,0001564590-18-030224,IncreaseDecreaseInPrepaidDeferredExpenseAndOth...,20160930,USD,1.141500e+07
4125587,0001564590-18-030224,IncreaseDecreaseInPrepaidDeferredExpenseAndOth...,20170930,USD,1.247100e+07
4125588,0001564590-18-030224,IncreaseDecreaseInPrepaidDeferredExpenseAndOth...,20180930,USD,-1.448900e+07
4159204,0001564590-18-030224,Assets,20170930,USD,4.429220e+08
4159205,0001564590-18-030224,Assets,20180930,USD,4.905350e+08
4163378,0001564590-18-030224,AssetsCurrent,20170930,USD,3.645820e+08
4163379,0001564590-18-030224,AssetsCurrent,20180930,USD,3.907110e+08
4337088,0001564590-18-030224,PrepaidExpenseAndOtherAssetsCurrent,20170930,USD,3.539200e+07
4337089,0001564590-18-030224,PrepaidExpenseAndOtherAssetsCurrent,20180930,USD,1.461500e+07
4540718,0001564590-18-030224,PaymentsToAcquireIntangibleAssets,20160930,USD,7.190000e+05
4540719,0001564590-18-030224,PaymentsToAcquireIntangibleAssets,20170930,USD,8.120000e+05
4540720,0001564590-18-030224,PaymentsToAcquireIntangibleAssets,20180930,USD,2.042000e+06
4570487,0001564590-18-030224,NoncashOrPartNoncashAcquisitionFixedAssetsAcqu...,20160930,USD,3.407000e+06
4570488,0001564590-18-030224,NoncashOrPartNoncashAcquisitionFixedAssetsAcqu...,20170930,USD,1.793000e+06
4570489,0001564590-18-030224,NoncashOrPartNoncashAcquisitionFixedAssetsAcqu...,20180930,USD,3.220000e+05
4627597,0001564590-18-030224,NoncurrentAssets,20170930,USD,6.317500e+07
4627598,0001564590-18-030224,NoncurrentAssets,20180930,USD,8.238100e+07
4627599,0001564590-18-030224,NoncurrentAssets,20170930,USD,8.310000e+05
4627600,0001564590-18-030224,NoncurrentAssets,20180930,USD,9.760000e+05
4627601,0001564590-18-030224,NoncurrentAssets,20170930,USD,6.234400e+07
4627602,0001564590-18-030224,NoncurrentAssets,20180930,USD,8.140500e+07
4951887,0001564590-18-030224,EffectiveIncomeTaxRateReconciliationChangeInDe...,20160930,pure,-1.050000e-01
4951888,0001564590-18-030224,EffectiveIncomeTaxRateReconciliationChangeInDe...,20170930,pure,-1.620000e-01
4951889,0001564590-18-030224,EffectiveIncomeTaxRateReconciliationChangeInDe...,20180930,pure,-2.050000e-01

In [82]:
data_sub.dtypes

adsh            object
cik              int64
name            object
sic            float64
countryba       object
stprba          object
cityba          object
zipba           object
bas1            object
bas2            object
baph            object
countryma       object
stprma          object
cityma          object
zipma           object
mas1            object
mas2            object
countryinc      object
stprinc         object
ein            float64
former          object
changed        float64
afs             object
wksi             int64
fye            float64
form            object
period           int64
fy             float64
fp              object
filed            int64
accepted        object
prevrpt          int64
detail           int64
instance        object
nciks            int64
aciks           object
pubfloatusd    float64
floatdate      float64
floataxis       object
floatmems      float64
dtype: object

In [86]:
data_sub[data_sub['cik'] == 1058290]['form']

888    10-Q
Name: form, dtype: object

In [87]:
data_rrsub =pd.read_csv('2019q1_rr1/sub.tsv', sep='\t', encoding='ISO-8859-1')

In [88]:
data_rrsub

,adsh,cik,name,countryba,stprba,cityba,zipba,bas1,bas2,baph,...,changed,fye,pdate,effdate,form,filed,accepted,instance,nciks,aciks
0,0000051931-19-000044,1547011,AMERICAN FUNDS COLLEGE TARGET DATE SERIES,US,CA,LOS ANGELES,90071,"333 SOUTH HOPE STREET, 55TH FLOOR",NaN,213-486-9200,...,20120410.0,NaN,20190101.0,20190101.0,485BPOS,20190123,2019-01-23 11:07:00.0,ck0001547011-20181231.xml,1,NaN
1,0000051931-19-000047,1505612,AMERICAN FUNDS GLOBAL BALANCED FUND,US,CA,IRVINE,92618,6455 IRVINE CENTER DRIVE,NaN,213-486-9501,...,NaN,1031.0,20190101.0,20190101.0,485BPOS,20190123,2019-01-23 11:17:00.0,ck0001505612-20181231.xml,1,NaN
2,0000051931-19-000052,1640102,AMERICAN FUNDS RETIREMENT INCOME PORTFOLIO SERIES,US,CA,IRVINE,92618,6455 IRVINE CENTER DRIVE,NaN,213-486-9200,...,NaN,1031.0,20190101.0,20190101.0,485BPOS,20190123,2019-01-23 12:49:00.0,ck0001640102-20181231.xml,1,NaN
3,0000051931-19-000053,5506,AMERICAN MUTUAL FUND,US,CA,LOS ANGELES,90071,333 S HOPE ST - 55TH FL (MICG),NaN,213-486-9200,...,19920703.0,1031.0,20190101.0,20190101.0,485BPOS,20190123,2019-01-23 13:02:00.0,ck0000005506-20181231.xml,1,NaN
4,0000051931-19-000055,1380175,AMERICAN FUNDS TARGET DATE RETIREMENT SERIES,US,CA,LOS ANGELES,90071,333 S HOPE ST - 55TH FL (MICG),NaN,213-486-9200,...,20061103.0,1031.0,20190101.0,20190101.0,485BPOS,20190123,2019-01-23 13:19:00.0,ck0001380175-20181231.xml,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1292,0001635295-19-000018,1635295,"BNY MELLON ABSOLUTE INSIGHT FUNDS, INC.",US,NY,NEW YORK,10166,C/O THE DREYFUS CORPORATION,200 PARK AVENUE,(212) 922-6833,...,NaN,1031.0,20190301.0,20190301.0,485BPOS,20190305,2019-03-05 11:36:00.0,ck0001635295-20190225.xml,1,NaN
1293,0001683863-19-000012,1573099,USAA ETF TRUST,US,TX,SAN ANTONIO,78288,9800 FREDERICKSBURG RD,NaN,210-498-5430,...,NaN,1231.0,20181221.0,20181221.0,485BPOS,20190109,2019-01-09 15:37:00.0,usaa-20180104.xml,1,NaN
1294,0001707770-19-000008,1707770,T. ROWE PRICE MULTI-STRATEGY TOTAL RETURN FUND...,US,MD,BALTIMORE,21202,100 EAST PRATT STREET,NaN,410-345-4981,...,NaN,1031.0,20190301.0,20190301.0,485BPOS,20190312,2019-03-12 09:01:00.0,trpmstrfi-20190227.xml,1,NaN
1295,0001710607-19-000007,1710607,AMERICAN CENTURY ETF TRUST,US,MO,KANSAS CITY,64111,4500 MAIN STREET,NaN,(816) 531-5575,...,20170628.0,831.0,20190101.0,20190101.0,485BPOS,20190116,2019-01-16 11:26:00.0,ck0001710607-20190111.xml,1,NaN
1296,0001717375-19-000015,1717375,DREYFUS INSTITUTIONAL LIQUIDITY FUNDS,US,NY,NEW YORK,10166,C/O THE DREYFUS CORPORATION,200 PARK AVENUE,(212) 922-6000,...,20170919.0,NaN,20190301.0,20190301.0,485BPOS,20190308,2019-03-08 09:19:00.0,ck0001717375-20190225.xml,1,NaN