# Imports, Loading Dataset for Q4 2018

In [50]:
import numpy as np
import pandas as pd
import pprint as pp
import matplotlib.pyplot as plt

In [9]:
data_num =pd.read_csv('2018q4/num.txt', sep='\t', encoding='ISO-8859-1')
data_sub =pd.read_csv('2018q4/sub.txt', sep='\t', encoding='ISO-8859-1')
data_tag =pd.read_csv('2018q4/tag.txt', sep='\t', encoding='ISO-8859-1')
data_pre =pd.read_csv('2018q4/pre.txt', sep='\t', encoding='ISO-8859-1')

# Inspecting Numerical Dataset

In [77]:
# pd.options.display.precison.set_option(3)
pd.set_option("display.precision", 3)
# pd.options.display.float_format = '${:.0f} million'.format
pd.reset_option("display.float_format")

In [7]:
data_num.shape

(2247296, 9)

In [82]:
data_num.sample(10)

,adsh,tag,version,coreg,ddate,qtrs,uom,value,footnote
1481021,0001144204-18-058165,NoninterestIncome,us-gaap/2018,NaN,20170930,1,USD,2.897e+00,NaN
112636,0001235468-18-000007,EarningsPerShareBasicAndDiluted,us-gaap/2017,NaN,20180930,1,USD,-3.000e-08,NaN
952896,0001175483-18-000013,ComprehensiveIncomeNetOfTaxIncludingPortionAtt...,us-gaap/2018,NaN,20180930,1,USD,-1.334e+01,NaN
2107319,0001021635-18-000104,EquityinEarningsAmortizationofBasisDifference,0001021635-18-000104,NaN,20180930,3,USD,8.400e+00,NaN
1165783,0001171843-18-007912,EquityMethodInvestmentDividendsOrDistributions,us-gaap/2018,NaN,20170831,4,USD,6.377e+00,NaN
320595,0001579241-18-000037,ProfitLoss,us-gaap/2017,NaN,20170930,3,USD,2.646e+02,NaN
1032879,0001309402-18-000152,NetIncomeLossAttributableToParentDiluted,us-gaap/2018,NaN,20170930,1,USD,3.728e+01,NaN
1052902,0000072741-18-000060,CapitalExpendituresIncurredButNotYetPaid,us-gaap/2018,NaN,20170930,3,USD,3.077e+02,NaN
1115862,0001615774-18-012873,ProceedsFromConvertibleDebt,us-gaap/2018,NaN,20180930,3,USD,2.000e-01,NaN
1768862,0000895126-18-000260,Revenues,us-gaap/2018,NaN,20180930,1,USD,2.418e+03,NaN

In [47]:
# data_num.value = data_num.value.apply(lambda x: x/1_000_000)

In [79]:
data_num.iloc[2247294]

adsh                                     0000320193-18-000145
tag         TaxCutsAndJobsActOf2017ReclassificationFromAoc...
version                                  0000320193-18-000145
coreg                                                     NaN
ddate                                                20180930
qtrs                                                        4
uom                                                       USD
value                                                     0.0
footnote                                                  NaN
Name: 2247294, dtype: object

# Next

In [12]:
data_pre.head()

,adsh,report,line,stmt,inpth,rfile,tag,version,plabel,negating
0,0000104918-18-000116,1,3,CP,0,H,EntityDomain,dei/2014,Entity [Domain],0
1,0000100517-18-000028,2,8,IS,0,H,EntityDomain,dei/2014,Entity [Domain],0
2,0000100517-18-000028,3,3,CI,0,H,EntityDomain,dei/2014,Entity [Domain],0
3,0000100517-18-000028,4,3,BS,0,H,EntityDomain,dei/2014,Entity [Domain],0
4,0000100517-18-000028,1,3,CP,0,H,EntityDomain,dei/2014,Entity [Domain],0

In [78]:
data_sub.sample(10)

,adsh,cik,name,sic,countryba,stprba,cityba,zipba,bas1,bas2,...,period,fy,fp,filed,accepted,prevrpt,detail,instance,nciks,aciks
1844,0000820027-18-000077,727892,RIVERSOURCE LIFE INSURANCE CO,6311.0,US,MN,MINNEAPOLIS,55474,50605 AMERIPRISE FINANCIAL CENTER,H27/5299,...,20180930,2018.0,Q3,20181105,2018-11-05 15:09:00.0,0,1,rvs09302018_htm.xml,1,NaN
6316,0001078782-18-001443,1543739,APT SYSTEMS INC,8742.0,US,CA,SAN FRANCISCO,94111,505 MONTGOMERY STREET,11TH FLOOR,...,20181031,2019.0,Q3,20181221,2018-12-21 16:09:00.0,0,1,apty-20181031.xml,1,NaN
219,0001193125-18-299303,862692,CRYO CELL INTERNATIONAL INC,8090.0,US,FL,OLDSMAR,34677,700 BROOKER CREEK BLVD,SUITE 1800,...,20180831,2018.0,Q3,20181015,2018-10-15 17:02:00.0,0,1,ccel-20180831.xml,1,NaN
5273,0001144204-18-060568,1072379,NORTHWEST BIOTHERAPEUTICS INC,2834.0,US,MD,BETHESDA,20814,4800 MONTGOMERY LANE,SUITE 800,...,20180930,2018.0,Q3,20181116,2018-11-16 17:32:00.0,0,1,nwbo-20180930.xml,1,NaN
6053,0001628280-18-014990,1705873,BERRY PETROLEUM CORP,1311.0,US,TX,DALLAS,75248,"16000 N. DALLAS PKWY, STE 100",NaN,...,20180930,2018.0,NaN,20181211,2018-12-10 21:20:00.0,0,1,bry-20181126.xml,1,NaN
5549,0000936528-18-000072,936528,WASHINGTON FEDERAL INC,6021.0,US,WA,SEATTLE,98101,425 PIKE STREET,NaN,...,20180930,2018.0,FY,20181120,2018-11-19 20:20:00.0,0,1,wfsl-20180930.xml,1,NaN
4211,0001341318-18-000050,1341318,"LAKE SHORE BANCORP, INC.",6035.0,US,NY,DUNKIRK,14048,31 EAST FOURTH STREET,NaN,...,20180930,2018.0,Q3,20181113,2018-11-13 13:46:00.0,0,1,lsbk-20180930.xml,1,NaN
6032,0001206774-18-003390,1725206,UNION ACQUISITION CORP.,6770.0,US,NY,NEW YORK,10022,444 MADISON AVE,FL 34,...,20181031,2019.0,Q3,20181211,2018-12-11 16:16:00.0,0,1,ltnu-20181031.xml,1,NaN
2945,0000860546-18-000041,860546,CORPORATE OFFICE PROPERTIES TRUST,6798.0,US,MD,COLUMBIA,21046,6711 COLUMBIA GATEWAY DRIVE,SUITE 300,...,20180930,2018.0,Q3,20181108,2018-11-08 12:16:00.0,0,1,ofc-20180930.xml,2,1577966
1203,0001635261-18-000020,1635261,MSB FINANCIAL CORP,6035.0,US,NJ,MILLINGTON,07946,1902 LONG HILL ROAD,NaN,...,20180930,2018.0,Q3,20181031,2018-10-31 16:00:00.0,0,1,msbf-20180930.xml,1,NaN

In [80]:
data_tag.head()

,tag,version,custom,abstract,datatype,iord,crdr,tlabel,doc
0,EntityDomain,dei/2014,0,1,member,NaN,NaN,Entity [Domain],All the names of the entities being reported u...
1,LegalEntityAxis,dei/2014,0,1,axis,NaN,NaN,Legal Entity [Axis],The set of legal entities associated with a re...
2,EntityPublicFloat,dei/2014,0,0,monetary,I,C,Entity Public Float,State aggregate market value of voting and non...
3,DocumentFiscalYearFocus,dei/2014,0,0,gYear,D,NaN,Document Fiscal Year Focus,This is focus fiscal year of the document repo...
4,DocumentPeriodEndDate,dei/2014,0,0,date,D,NaN,Document Period End Date,The end date of the period reflected on the co...

In [18]:
pp.pprint(data_tag.doc[5])

'End date of current fiscal year in the format --MM-DD.'